<!DOCTYPE html>
<html lang="en" ng-app="mainModule">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="favicon.ico">

    <link rel="stylesheet" type="text/css" href="dist/style.css">
</head>

<body class="home" ui-view>
    
    <!-- 首页合集 end -->
    <!-- jQuery 库 -->
    <script src="jquery/dist/jquery.min.js"></script>
    <script src="dist/vendor.js"></script>
    <script src="dist/build.js"></script>
</body>

</html>
